header {
    background-color: white;
    display: inline;
}
.navigation {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    box-shadow: 2px 2px 8px #888888;
}

.navigation img {
    float: left;
}

.navigation nav {
    padding: 5px;
    top: 0;
    float: right;
}

.navigation nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: black;
}
.navigation nav ul {
    margin-top: 4px;
}

.navigation nav li {
	display: inline;
	list-style-type: none;
    margin-right: 20px;
}

.navigation nav a:hover {
	font-weight: bold;
}

.ocean {
    background-color: black;
}

.ocean nav a {
    color: white;
}

nav li {
    cursor: pointer;
}

nav li:hover {
    font-weight: bold;
}

.ocean nav li {
    color: white;
}