.contentMovieAdmin, .cardForm {
    margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 70%;
    border-radius: 5px;
	padding: 20px;
    margin-top: 70px;
    border-bottom: 15px solid white;
    border-top: 15px solid white;
}

.cardForm {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 35%;
}

.contentMovieAdmin h1, .cardForm h1 {
    text-align: center;
    margin-bottom: 40px;
}

.contentMovieAdmin h2 {
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
    color: black;
}

.movieAdmin {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

td {
    vertical-align: bottom;
    padding-bottom: 10px;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}